{% extends 'default/index.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h3>Join Quiz</h3>
    {{ form_widget(
    form.username,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Username',
        'autofocus': 'true'
    }})
    }}
    {{ form_widget(
    form.email,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Email'
    }})
    }}

    {{ form_widget(
    form.plainPassword.first,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Password'
    }})
    }}

    {{ form_widget(
    form.plainPassword.second,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Repeat password'
    }})
    }}

    <div class="checkbox check">

    </div>

    <button type="submit">Create</button>
    {{ form_end(form) }}

    {% if errors.count > 0 %}
        <div class="form-signin">
            {% for error in errors %}
                <div role="alert">
                    {{ error.getMessage() }}
                </div>
            {% endfor%}
        </div>
    {% endif %}
{% endblock %}

